/* body {
    display: flex;
    flex-direction: row;
} */
.signup-background {
    background: url('grainsbackground.jpg');
    padding: 20px;
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* filter: blur(4px);
    -webkit-filter: blur(4px); */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .white-panel {
    background: white;
    width: 35%;
    min-width: 250px;
    /* height: 80vh; */
    /* position: absolute; */
    border-radius: 20px;
    /* margin-top: 8vh; */
    /* margin-left: 38vw; */
    /* display: flex;
    flex-direction: column; */
    justify-content: center;
    text-align: center;
    font-family: 'Lato', sans-serif;
    padding: 10px;
  }

  .white-panel form {
      /* width: 90%; */
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0px;
  }
  
  .signup-header {
      font-family: 'Lato', sans-serif;
      font-weight: 300;
      /* background-color: tan; */
      margin-bottom: 2rem;
      /* flex-wrap: wrap; */
  }
  
  .username-input-form{
      position: absolute;
      margin-top: 24vh;
      margin-left: -1.5vw;
  }
  
  .password-input-form{
      position: absolute;
      margin-top: 34vh;
      margin-left: -1.5vw;
  }
  
  .signup-label {
      /* margin-left: -10vw; */
      margin-bottom: .8vh;
  }
  
  .signup-button {
      position: absolute;
      height: 2.5rem;
      border-radius: 5px;
      width: 4vw;
      margin-top: 50vh;
      background-color: #dd7469;
      border: none;
      color: white;
      transition: 0.3s;
  }
  
  .signup-button:hover {
      opacity: 0.8;
  }
  /* .btn {
      position: absolute;
  } */
  
  