.login-background {
  background: url(/fruitveg.jpg);
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
