body {
  font-family: Lato;
}

/* Header */

.header-container {
  background: #7ed957;
  overflow: hidden;
  margin-top: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-image {
  width: 100vw;
  height: 45rem;
  object-fit: cover;
  opacity: 0.5;
}

.bread-header {
  position: absolute;
  color: white;
  font-size: 20vw;
  /* margin-left: 5%; */
  /* margin-top: 8%; */
  z-index: 2;
  text-shadow: 2px 2px 4px #535353;
}

/* 1st Section */

#first-section {
  display: flex;
  flex-direction: row;
  margin-top: 5rem;
  margin-bottom: 10rem;
  margin-left: 2rem;
  margin-right: 2rem;
  align-items: center;
}

#second-image {
  width: 45vw;
  object-fit: cover;
  height: 50vh;
}

#what-we-do {
  margin-left: 5rem;
  width: 40%;
}

#what-we-do-header {
  font-size: 5rem;
  margin-bottom: 3rem;
  font-weight: bold;
}

#what-we-do-text {
  font-size: 4vh;
  font-weight: 300;
  height: auto;
  max-height: 20rem;
}

/* 2nd Section */

#left-side {
  width: 45%;
  display: flex;
  flex-direction: column;
  margin-left: 8rem;
}

#second-section-container {
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
  justify-content: center;
}

#infographic-1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: auto;
}

#forty-two {
  font-size: 17rem;
  color: #ffb641;
}

#million {
  font-size: 6vw;
  color: lightgrey;
  margin-left: 1rem;
}

#americans {
  font-size: 2rem;
  margin-left: 1.5rem;
  font-weight: lighter;
}
#our-solution-header {
  text-align: center;
  margin-bottom: 3rem;
}

#text-1 {
  color: #99cc66;
  margin-bottom: 1.5rem;
}

#text-2 {
  color: #ffaa22;
  margin-bottom: 1.5rem;
}

#text-3 {
  color: #ffcc66;
}

#right-side {
  text-align: center;
}

#forty-percent-infographic {
  /* object-fit: cover; */
  height: 35rem;
}

#waste {
  font-size: 3.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#forty-percent-text {
  font-size: 1.5rem;
}
