.login-background {
  background: url(/fruitvegblurred.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.white-panel {
  background: white;
  width: 28vw;
  height: 80vh;
  position: absolute;
  border-radius: 20px;
  margin-top: 8vh;
  margin-left: 38vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

 .login-header {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
   margin-bottom: 4rem;
}

.username-input-form{
    margin-left: 4rem;
    margin-right: 4rem;
}

.password-input-form{
    margin-left: 4rem;
    margin-right: 4rem;
}

/* .login-label {
    margin-left: -9rem;
    margin-bottom: .8vh;
} */

#login-div{
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.login-button {
    height: 2.5rem;
    border-radius: 5px;
    width: 4vw;;
    background-color: #007bff;
    border: none;
    color: white;
    transition: 0.3s;
}

.login-button:hover {
    opacity: 0.6;
}

/* .btn {
    position: absolute;
} */

