.login-background {
  background: url(/fruitvegblurred.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

#white-panel-1 {
  background: white;
  width: 30%;
  height: 80%;
  border-radius: 20px;
  /* position: absolute;
  margin-top: 8vh;
  margin-left: 38vw; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

 .login-header {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    margin-bottom: 4rem;
    margin-top: 2rem;
}

.username-input-form{
    margin-bottom: 4rem;
}

.password-input-form{
    margin-bottom: 3rem;
}

#login-div{
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.login-button {
    margin-top:150%;
    height: 2.5rem;
    border-radius: 5px;
    width: 4vw;;
    background-color: #007bff;
    border: none;
    color: white;
    transition: 0.3s;
}

.login-button:hover {
    opacity: 0.6;
}

/* .btn {
    position: absolute;
} */

