body {
  font-family: Lato;
}

#top-section {
  text-align: center;
}

#find-food-header {
  margin-bottom: 2rem;
}

#load-posts-button {
  margin-top: 1rem;
}

#gray-panel {
  background-color: gainsboro;
  width: auto;
  height: auto;
  padding: 2rem;
  margin: 2rem;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#card-search {
  text-align: center;
  height: auto;
  width: auto;
  /* border: 2px solid red; */
  margin-bottom: 2rem;
}

.card-container {
  display: flex;
  flex-direction: row;
  margin: 2rem;
  flex-wrap: wrap;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 40%;
  padding: 1rem;
  margin: 1rem;
  border-radius: 15px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
  align-content: center;
}

.card-img {
  width: 100%;
  height: auto;
}

/* #card-list {
  display: flex;;
  flex-direction: row;
  flex-wrap: wrap;
} */



